.pic-container {
  overflow: scroll;
  max-width: 100vw;
  max-height: 110vh;
}
img.img-responsive {
  border-radius: 25px;
  max-height:95vh;
  margin-left: 70vw;
}

.jumbo-container {
  width: 30vw;
}
